.container-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #EBFFEB;
    padding: .75rem 1.5rem;
    width: 100%;
    border-radius: .5rem;

    &:hover {
        background-color: #cbffcb;
    }

    .first-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        .container-album-image {
            width: 4em;
            height: 4em;
            border-radius: .5rem;
            
            .album-image {
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                object-fit: cover;
            }
        }
        
        .text-content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            gap: 0.25rem;

            p {
                font-size: 1rem;
                font-weight: 700;
                line-height: normal;
                color: #001400;
            }

            span {
                font-size: .7rem;
                font-weight: 400;
                line-height: normal;
                color: #001400;
            }
        }
    }

    .second-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .icon {
            cursor: pointer;
        }
    }
}