.container-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #EBFFEB;
    width: 100%;
    height: 240px;
    border-radius: .5rem;
    position: relative;

    
    &:hover {
        background-color: #cbffcb;
    }
    
    .first-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        
        
        .container-album-image {
            width: 100%;
            height: 100%;
            
            .album-image {
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                object-fit: cover;
            }
        }
        
        .text-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            padding-inline: 1rem;
            gap: 0.25rem;

            p {
                opacity: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
 
             span {
                opacity: 0;
             }

             .second-container {
                position: absolute;
                z-index: 2;
                top: 1rem;
                right: 1rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                cursor: pointer;
        
                .icon {
                    opacity: 0;
                }
            }


            &:hover {
                background-color: #001400;
                opacity: 80%;

                p {
                    opacity: 1;
                    font-size: .8rem;
                    font-weight: 700;
                    line-height: normal;
                    color: #EBFFEB;
                    text-align: center;
                }
    
                span {
                    opacity: 1;
                    font-size: .6rem;
                    font-weight: 400;
                    line-height: normal;
                    color: #EBFFEB;
                }

                .second-container > .icon {
                    opacity: 1;
                }
            }
        }
    }
}
  
  @media (240px <= width < 900px) {
    .container-card {
        width: 100%;
        height: 140px;
  }
  }

  @media (900px <= width < 1200px) {
    .container-card {
        width: 100%;
        height: 200px;
  }
  }