.main-favorites{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #001400;
    padding: 3rem;
    gap: 2.5rem;
    
    .container-search-date {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: normal;
        color: #EBFFEB;
        width: 100%;
    }

    .container-albums-favorites {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        height: 300px;
    }
}