$primary-color: #001400;
$secondary-color: #EBFFEB;
$terciary-color: #00A300;
$glass-bg-color: #30372F;
$hover-color: #cbffcb;

*, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  color: $secondary-color;
}

.container-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}