$primary-color: #001400;
$secondary-color: #EBFFEB;
$terciary-color: #00A300;
$glass-bg-color: #30372F;

*, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  color: $secondary-color;
}

.container-hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  .container-hero-image {
    width: 100%;
    height: 100%;
  }
}

.main-dashboard{
  display: flex;
  flex-flow: row nowrap;
}

.container-dashboard {
  position: relative;
  background-color: $primary-color;
  width: 100%;
  height: 100vh;

  .hero-container-image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container-seach-date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding-inline: 3rem;
    margin-top: 3rem;
  }
}