.container-album-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 300px;
    background-color: #EBFFEB;
    border-radius: .5rem;
    cursor: pointer;

    .container-album-image {
        width: 100%;
        height: auto;
        
        .album-image {
            width: 100%;
            height: 100%;
            border-radius: .5rem .5rem 0rem .0rem;
            object-fit: cover;
        }
    }

    .text-album-content {
        width: 100%;
        min-height: 4.5rem;
        padding: 1rem;

        p {
            width: 100%;
            font-size: 1rem;
            font-weight: 700;
            line-height: normal;
            color: #001400;
        }

        span {
            width: 100%;
            font-size: .8rem;
            font-weight: 400;
            line-height: normal;
            color: #001400;
        }
    }
}