.main-album-id {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #001400;
    padding: 3rem;
    gap: 2.5rem;

    .container-seach-date {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .container-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 3rem;

        .first-content-albums {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            gap: 6rem;

            picture {
                width: 100%;
                height: 500px;

                .album-image-big {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }

            .related-albums {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap: 1.5rem;

                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: normal;
                    color: #EBFFEB;
                    width: 100%;
                }

                .container-related {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    height: 240px;
                }
            }
        }

        .second-content-albums {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            gap: 2rem;

            .info-album {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: .5rem;

                h1 {
                    font-size: 2.2rem;
                    font-weight: 700;
                    line-height: normal;
                    color: #EBFFEB;
                    width: 100%;
                }

                p {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: normal;
                    color: #EBFFEB;
                    width: 100%;
                }
            }

            .container-musics {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: .5rem;
            }
        }
    }









}