.display-side {
    display: none;
}

aside {
    background-color: #EBFFEB;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 100vh;
    padding-block: 1.5rem;

    .container-full-sidebar {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 240px;
        padding: 1.5rem;
        gap: 1rem;
        border-bottom: 2px solid #30372F;
    
        .upper-section{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            width: 100%;
    
            .btn-display{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-color: transparent;
                margin-left: auto;
                cursor: pointer;
            }

            picture {
                width: 70%;
                height: 6rem;
                margin-right: auto;

                .logo {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .lower-section{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;

            picture {
                width: 3rem;
                height: 3rem;
                margin-right: auto;

                .user {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                line-height: normal;
                color: #001400;
            }
        }
    }
    
    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1.5rem;
        gap: 1rem;

        a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: .5rem;
            cursor: pointer;
            
            &:hover {
                background-color: #cedfce;

                p {
                    font-weight: 700;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                line-height: normal;
                color: #001400;
            }
        }
    }

    .logout-btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-inline: 1.5rem;
        margin-bottom: 1.5rem;
        gap: .5rem;
        cursor: pointer;
        
        &:hover {
            background-color: #cedfce;

            p {
                font-weight: 700;
            }
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
            color: #001400;
        }
    }

    .container-short-sidebar{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 72px;
        padding: 1rem;
        gap: 1.5rem;
        border-bottom: 2px solid #30372F;

        .upper-section{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            width: 100%;
    
            .btn-display{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-color: transparent;
                margin-left: auto;
                cursor: pointer;
            }

            picture {
                width: 70%;
                height: 6rem;
                margin-right: auto;

                .logo {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .lower-section{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;

            picture {
                width: 2rem;
                height: 2rem;
                margin-right: auto;

                .user {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                line-height: normal;
                color: #001400;
            }
        }

        picture {
            width: 2rem;
            height: 2rem;

            .logo-short {
                width: 100%;
                height: 100%;
            }
        }
    }

    .nav-short {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        margin-bottom: auto;

        a {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: .5rem;
            cursor: pointer;
            
            &:hover {
                background-color: #cedfce;

                p {
                    font-weight: 700;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                line-height: normal;
                color: #001400;
            }
        }
    }
}

