.register-form {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 3rem;
    background-color: #30372F;
    opacity: 90%;
    width: 35%;
    height: 100%;
    padding-inline: 3rem;

    .container-title {
        width: 100%;
        margin-bottom: 4rem;

        .register-title{
            font-size: 2rem;
            font-weight: 700;
            line-height: normal;

        }

        .register-subtitle{
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
        }
    }

    .container-inputs {
        width: 100%;
        margin-bottom: 3rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;

        .container-user {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
        }

        .container-field {
            display: flex;
            flex-flow: column nowrap;
            gap: .25rem;
            width: 100%;

            .label {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: normal;
            }

            input {
                height: 2.5rem;
                padding-inline: 1rem;
                border-radius: .5rem;
                color: #001400;
            }

            .error-border {
                border: 1px solid #D30707;
                &:focus {
                    outline: 2px solid #FF2200;
                    outline-offset: -2px;
                }
            }

            .error-msg {
                font-size: 0.75rem;
                font-weight: 400;
                line-height: normal;
                text-align: left;
                padding: 0.25rem;
                width: 100%;
            }
        }
    }

    .container-btns {
        width: 100%;
        margin-bottom: 3rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        .main-btn {
            width: 100%;
            height: 2.5rem;
            border-radius: .5rem;
            background-color: #00A300;
            color: #EBFFEB;
            font-size: 1.1rem;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;

            &:hover {
                background-color: #EBFFEB;
                color: #00A300;
            }
        }

        .google-btn {
            width: 100%;
            height: 2.5rem;
            border-radius: .5rem;
            background-color: transparent;
            border: 2px solid #00A300;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            &:hover {
                background-color: #00A300;
            }

            p {
                font-size: 1.1rem;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .email-error-msg {
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding: 0.25rem;
        width: 100%;
        color: #D30707;
    }

    .redirect-link {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: #00A300;
        }
    }
}