.form-searchbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 2rem;
    background-color: #EBFFEB;
    border-radius: .5rem;

    fieldset {
        width: 100%;
        height: 100%;

        input {
            width: 100%;
            height: 100%;
            border-radius: .5rem;
            background-color: #EBFFEB;
            font-size: .8rem;
            font-weight: 400;
            line-height: normal;
            color: #001400;
            padding-inline: 1rem 2.5rem;

            &::placeholder {
                padding-inline: 1rem;
                font-size: .8rem;
                font-weight: 400;
                line-height: normal;
            }
        }

        .error-border {
            border: 1px solid #D30707;
            &:focus {
                outline: 2px solid #FF2200;
                outline-offset: -2px;
            }
        }

        .error-msg {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: normal;
            text-align: left;
            padding: 0.25rem;
            width: 100%;
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        height: 100%;
        padding-inline: .5rem;
        border-radius: .5rem;
        cursor: pointer;
        background-color: transparent;
    }
}

@media (240px < width < 768px) {
    .form-searchbar {
        width: 100%;
        height: 2.2rem;
    
        fieldset {
            input {
                &::placeholder {
                    padding-inline: .25rem;
                }
            }
        }
}
}