.main-dashboard{
    display: flex;
    flex-flow: row nowrap;
  }
  
  .container-dashboard {
    position: relative;
    width: 100%;
    height: 100vh;
  
    .container-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 3rem;
  
      .container-seach-date {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
      }
    
      .text-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 1.5rem;
    
        h1 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: normal;
          color: #EBFFEB;
        }
    
        a {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: .5rem;
          background-color: #00A300;
          padding: .5rem 2.5rem;
          border-radius: .5rem;
          cursor: pointer;
  
          p {
            font-size: 1rem;
            font-weight: 700;
            line-height: normal;
            color: #EBFFEB;
          }
        }
      }
  
      .container-musics {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1.5rem;
  
        h3 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: normal;
          color: #EBFFEB;
        }
  
        .container-cards {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
        }
      }
    }
  }