.main-dashboard{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 100vh;
  }
  
  .container-dashboard {
    position: relative;
    width: 100%;
  
    .container-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 3rem;
  
      .container-seach-date {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
      }
    
      .text-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 1.5rem;
    
        h1 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: normal;
          color: #EBFFEB;
        }
    
        button {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: .5rem;
          background-color: #00A300;
          padding: .5rem 2.5rem;
          border-radius: .5rem;
          cursor: pointer;
  
          p {
            font-size: 1rem;
            font-weight: 700;
            line-height: normal;
            color: #EBFFEB;
          }
        }
      }
  
      .container-musics {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1.5rem;
  
        h3 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: normal;
          color: #EBFFEB;
        }
  
        .container-cards {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          gap: 1rem;
          width: 100%;
          height: fit-content;
        }
      }
    }
  }
  
  @media (240px < width < 768px) {
    .main-dashboard{
      flex-flow: column nowrap;
    }
    
    .container-dashboard {
      min-height: 100vh;
      
      .container-content {
        justify-content: space-between;
        padding: 1.2rem;
        gap: 4rem;
        
        .container-seach-date {
          flex-flow: column-reverse nowrap;
          gap: 1rem;
        }
        
        .text-container {
          h1 {
            font-size: 1.8rem;
          }
          
          button {
            padding: .35rem 2rem;
            
            p {
              font-size: .9rem;
            }
          }
        }
        
        .container-musics {
          gap: 1rem;
          
          h3 {
            font-size: 1.2rem;
          }
          
          .container-cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: .5rem;
            min-height: 300px;
        }
      }
    }
}

}

@media (768px <= width <= 1200px) {
  .main-dashboard{
    flex-flow: column nowrap;
  }
  
  .container-dashboard {
    min-height: 100vh;
    
    .container-content {
      justify-content: space-around;
      padding: 1.2rem;
      min-height: 100%;
  
      .text-container {
        h1 {
          font-size: 2.3rem;
        }

        
        button {
          padding: .35rem 2rem;
  
          p {
            font-size: 1rem;
          }
        }
      }
  
      .container-musics {
  
        h3 {
          font-size: 1.5rem;
        }
  
        .container-cards {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 1rem;
          height: fit-content;
          min-height: 350px;
        }
      }
    }
}
}