.container-music-player {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-radius: .5rem;
    gap: 1rem;

    .container-song {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: .5rem;

        p {
            width: 100%;
            font-size: 1rem;
            font-weight: 700;
            line-height: normal;
            color: #EBFFEB;
        }

        .container-audio {
            width: 100%;
            border-radius: .5rem;
        }
    }
}