.container-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    background-color: #EBFFEB;
    width: fit-content;
    border-radius: .5rem;
    gap: .5rem;

    .container-date, .container-wheater {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        p {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: normal;
            color: #001400;
        }

    }
}

@media (240px < width < 768px) {
    .container-info {
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        width: 100%;
    
        .container-date, .container-wheater {
            p {
                font-size: 0.7rem;
            }
    
        }
    }
}

@media (768px <= width < 1350px) {
    .container-info {
        padding: .5rem;
    
        .container-date, .container-wheater {
            p {
                font-size: .9rem;
            }
        }
    }
}